{# src/Mayhem/MainBundle/Resources/views/Welcome/accueil.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}- {{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/mayhemmain/css/accueil.css') }}" type="text/css" rel="stylesheet" />
{% endblock %} 
   
{% block main %}

	<section id="main" class="container border1">
		
    {% for article in articles %}
    
      <div class="widget w1-widget border2">
      
      	{# Ajoute une image si il y a un lien d'image #}
      	{% if article.img_url != "" %}
			<img class="banner" src="{{ article.img_url }}">
			<hr />
      	{% endif %}
      	
      	{# ajoute l'article #}
      	<h1>{{ article.titre }}</h1>
      	<p>{{ article.contenue }}</p>
      	
      </div>
      
    {% else %}
      <div class="widget w1-widget border2">
      	Pas (encore !) d'articles
      </div>
    {% endfor %}

	</section>

{% endblock %}

{% block js %}
	{{ parent() }}

	<script type="text/javascript">
	   docReady( function() {
	   var container = document.querySelector('#main');
	   var article = container.querySelector('article');
	   var msnry = new Masonry( container, { itemSelector: '.widget', "isFitWidth": true});
	   msnry.stamp( article );
	   msnry.layout();
	   });
    </script>

{% endblock %}