{# src/Mayhem/MainBundle/Resources/views/Welcome/index.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}- {{ parent() }} -{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}
    
{% block main %}
    {% for article in articles %}
    
      <div class="widget w1-widget border2">
      
      	{# Ajoute une image si il y a un lien d'image #}
      	{% if article.img_url != "" %}
			<img class="banner-ulule" src="{{ article.img_url }}">
			<hr />
      	{% endif %}
      	
      	{# ajoute l'article #}
      	<h1>{{ article.titre }}</h1>
      	<p>{{ article.contenue }}</p>
      	
      </div>
      
    {% else %}
      <div class="widget w1-widget border2">
      	Pas (encore !) d'articles
      </div>
    {% endfor %}

{% endblock %}