{# app/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Mayhem Custom{% endblock %}</title>

    {% block stylesheets %}
    	<link rel="stylesheet" href="{{ asset('css/init.css') }}" type="text/css" />
    	<link rel="stylesheet" href="{{ asset('css/layout.css') }}" type="text/css" />
    {% endblock %}
    
  </head>
  
  <body >
  
  	  	<header id="header">
  	  		{% block header %}
  	  			{% block banner%}
		  		<img class="img-header" src="{{ asset('img/rip.png') }}">
		  		{% endblock %}
		  		<nav id="menu">
		  			{% block nav %}
		  			<ul>
		  				<li class="nav-element1"><a href="{{ path('mayhemmain_qui') }}">Qui sommes nous ?</a></li>
		  				<li class="nav-element2"><a href="{{ path('mayhemmain_accueil') }}">Projet Reaper</a></li>
		  			</ul>
		   			{% endblock %}
		  		</nav>
	  		{% endblock %}
	  	</header>
	  		
		{% block main %}
	   	{% endblock %}
	
		{% block footer %}
			<footer id="footer" class="container border1">
				<p>Mayhem Custom est une petite équipe animée par la passion du travail bien fait ou un truc comme ça ...<br />
				Site développé par <b>Florian Perrot</b> ;).
				</p>
			</footer>
		{% endblock %}

		{% block js %}
		    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		    <script type="text/javascript" src="{{ asset('js/masonry.js') }}"></script>	
		{% endblock %}

	</body>
</html>